html {
	height: 100%;
}

body {
	min-height: 100%;
}

.badd-highlighter {
	background-color: transparent;
	position: fixed;
	pointer-events: none;
	border: 3px dashed lightskyblue;
	z-index: 16777271;
	display: none;
}

.badd-transfer-area {
	display: none;
}

.badd-hidden-preview-element {
	display: none;
}