table.badd-editor {
	height: 100%;
	width: 100%;
}

/* editor's header style */

td.badd-editor-header {
	background-color: #343434;
	height: 50px;
	border-bottom: 1px solid #000;
}

td.badd-editor-header p.badd-editor-title {
	color: white;
	line-height: 50px;
}

/* editor's components style */

td.badd-editor-components {
	background-color: #343434;
	padding: 0;
	width: 15%;
	vertical-align: top;
}

td.badd-editor-components p.badd-editor-title {
	color: white;
	line-height: 50px;
	background-color: #343434;
	border-top: 1px solid #cacaca;
	border-bottom: 2px solid #000;
	margin-bottom: 0;
	padding: 0 15px 0 15px;
}

td.badd-editor-components div.badd-editor-components {
	border-top: 1px solid #888888;
	background-color: #cccccc;
	height: 100%;
}

/* editor's browser style */

td.badd-editor-browser {
	height: 100%;
	vertical-align: top;
}

td.badd-editor-browser div.header {
	background-color: #cccccc;
	height: 30px;
	line-height: 30px;
	border: 1px solid #000;
}

iframe.badd-editor-browser {
	width: 100%;
	height: 100%;
	border: none;
}

/* draggable components style */

td.badd-editor-components ul {
	margin-top: 10px;
	padding: 0 10px 0 10px;
	list-style-type: none;
}

td.badd-editor-components ul li {
	cursor: pointer;
	border: 1px solid transparent;
	padding: 6px 5px 10px 5px;
}

td.badd-editor-components ul li.ui-draggable-dragging {
	padding-bottom: 2px;
	margin-left: 338px;
	margin-top: 43px;
}

td.badd-editor-components ul li.drag-active,
td.badd-editor-components ul li.ui-draggable-dragging,
td.badd-editor-components ul li:hover {
	background: #eee;
	border: 1px dashed #999;
}

td.badd-editor-components ul li i {
	display: none;
	float: right;
	font-size: 15px;
	line-height: 30px;
	color: #999;
	padding-left: 15px;
	margin-top: -2px;
}

td.badd-editor-components ul li.drag-active i,
td.badd-editor-components ul li.ui-draggable-dragging i,
td.badd-editor-components ul li:hover i {
	display: block;
}

td.badd-editor-components ul li span.badd-editor-label {
	display: inline-block;
	height: 25px;
	line-height: 20px;
	width: 40px;
	float: left;
}

td.badd-editor-components ul li span.badd-editor-title {
	display: inline-block;
	margin-top: 2px;
	margin-left: 5px;
}

/* configuration modal */


.badd-configuration-modal {
	position: fixed;
	top: 200px;
	left: 200px;
	border: 1px solid gray;
	border-radius: 2px;
}