table.badd-editor {
	height: 100%;
	width: 100%;
}

/* editor's components style */

td.badd-editor-components {
	background-color: #51585E;
	padding: 0;
	width: 250px;
	vertical-align: top;
}

td.badd-editor-components p.badd-editor-title {
	color: white;
	line-height: 30px;
	background-color: #51585E;
	border-bottom: 1px solid #000;
	margin-bottom: 0;
	padding: 0 15px 0 15px;
	text-align: center;
}

td.badd-editor-components div.badd-editor-components {
	background-color: #32373B;
	height: 100%;
}

/* editor's browser style */

td.badd-editor-browser {
	height: 100%;
	vertical-align: top;
	background-color: #ddd;
}

td.badd-editor-browser div.header {
	background-color: #cccccc;
	height: 30px;
	line-height: 30px;
	border: 1px solid #000;
}

.badd-editor-browser-frame {
	border-left: 3px solid #ddd;
	border-right: 3px solid #ddd;
}

div.badd-editor-browser-header,
div.badd-editor-browser-footer {
	height: 30px;
	background-color: #ddd;
}

div.badd-editor-browser-address {
	height: 40px;
	background-color: #e7e7e7;
	padding-top: 3px;
}

div.badd-editor-browser-header-close {
	width: 15px;
	height: 15px;
	display: inline-block;
	background-color: #D5635D;
	margin-top: 8px;
	margin-left: 8px;
	border-radius: 10px;
}

div.badd-editor-browser-header-min {
	width: 15px;
	height: 15px;
	display: inline-block;
	background-color: #DDA85A;
	margin-top: 8px;
	margin-left: 2px;
	border-radius: 10px;
}

div.badd-editor-browser-header-max {
	width: 15px;
	height: 15px;
	display: inline-block;
	background-color: #76B24F;
	margin-top: 8px;
	margin-left: 2px;
	border-radius: 10px;
}

div.badd-editor-browser-address-page-title {
	display: inline-block;
	float: left;
}

div.badd-editor-browser-address-undo-redo {
	display: inline-block;
	float: left;
	width: 75px;
}

div.badd-editor-browser-address-return {
	width: 30px;
	height: 30px;
	display: inline-block;
	background-color: #999;
	margin-left: 5px;
	border-radius: 30px;
}

div.badd-editor-browser-address-redo {
	width: 30px;
	height: 30px;
	display: inline-block;
	background-color: #999;
	border-radius: 30px;
}

div.badd-editor-browser-address-return i.fa,
div.badd-editor-browser-address-redo i.fa {
	font-size: 20px;
	color: #555;
	margin-left: 6px;
	margin-top: 4px;
	float: left;
}

div.badd-editor-browser-address-redo i.fa {
	margin-left: 7px;
}

@-moz-document url-prefix() {
	div.badd-editor-browser-address-return i.fa,
	div.badd-editor-browser-address-redo i.fa {
		margin-top: 3px;
	}
}

iframe.badd-editor-browser {
	width: 100%;
	margin-bottom: -5px;
	border: none;
}

/* draggable components style */

td.badd-editor-components ul {
	margin-top: 10px;
	padding: 0 10px 0 10px;
	list-style-type: none;
}

td.badd-editor-components ul li {
	cursor: pointer;
	border: 1px solid black;
	border-radius: 1px;
	padding: 6px 5px 10px 5px;
	margin-bottom: 10px;
	text-align: center;
	width: 110px;
	background-color: #4C5155;
	color: white;
}

td.badd-editor-components ul li:nth-child(even) {
	float: right;
}

td.badd-editor-components ul li:nth-child(odd) {
	float: left;
}

td.badd-editor-components ul li.ui-draggable-dragging {
	padding-bottom: 2px;
	margin-left: 338px;
	margin-top: 43px;
}

td.badd-editor-components ul li.drag-active,
td.badd-editor-components ul li.ui-draggable-dragging,
td.badd-editor-components ul li:hover {
	background: #2385DC;
}

td.badd-editor-components ul li i {
	display: block;
	font-size: 15px;
	line-height: 30px;
}

td.badd-editor-components ul li span.badd-editor-label {
	display: inline-block;
	height: 25px;
	line-height: 20px;
	width: 40px;
	float: left;
}

td.badd-editor-components ul li span.badd-editor-title {
	display: inline-block;
	margin-top: 2px;
}

/* formating options */
div.badd-editor-browser-address .btn.btn-default {
	border-radius: 2px;
	background-color: #e7e7e7;
	border-color: #d7d7d7;
}

div.badd-editor-browser-address .btn.btn-default:hover {
	background-color: #efefef;
	border-color: #c7c7c7;
}

div.btn-separator {
	display: inline-block;
	width: 1px;
	height: 23px;
	background-color: #d7d7d7;
	margin: 0 3px -7px 3px;
}