html {
	height: 100%;
}

body {
	min-height: 100%;
}

body > .container,
body > .container-fluid {
	padding-bottom: 50px;
}

.badd-highlighter {
	background-color: transparent;
	position: fixed;
	pointer-events: none;
	border: 2px dashed lightskyblue;
	z-index: 16777200;
	display: none;
}

.badd-selected-highlighter {
	background-color: rgba(135, 206, 250, 0.1);
	position: fixed;
	pointer-events: none;
	border: 2px solid lightskyblue;
	z-index: 16777201;
	display: none;
}

.badd-selected-highlighter.badd-edition-mode {
	background-color: transparent;
}

.badd-hidden-preview-element {
	display: none;
}

* {
	cursor: default !important;
	outline: none;
}

btn {
	outline: none !important;
}

a:active,
a:focus,
a:hover {
	outline: none;
}